@import './variables.scss';

// .home-bg {
//   display: flex;
//   justify-content: center;
//   align-content: center;
// }

// // body {
// //   display: flex;
// //   justify-content: center;
// //   align-content: center;
// // }
// .log-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 500px;
//   width: 500px;
//   background-color: $color-two;
//   border: 5px solid $color-three;
//   border-radius: 20px;
//   .log-button {
//     border: 5px solid $color-three;
//     background-color: $color-one;
//     margin: 20px;
//     width: 20%;
//     text-align: center;
//     padding: 20px;
//     border-radius: 6px;
//     text-decoration: none;
//     color: darken($color-three, 30%)
//   }
// }

.home-button-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items:center;
  height: 400px;
  width: 400px;
  background-color: $color-one;
  border: 2px solid $color-three;
}

.home-login-button {
  @include button-reset;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: darken($color-two, 10%);
  padding: 10px;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
}
.home-login-button:hover {
  background-color: lighten($color-one, 10%);
}
.home-login-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}