@import './variables.scss';

.home-bg {
  display: flex;
  justify-content: center;
  align-content: center;
}

// body {
//   display: flex;
//   justify-content: center;
//   align-content: center;
// }
.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: $color-two;
  border: 5px solid $color-three;
  border-radius: 20px;
  .log-button {
    border: 5px solid $color-three;
    background-color: $color-one;
    margin: 20px;
    width: 20%;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    text-decoration: none;
    color: darken($color-three, 30%)
  }
}