@import './variables.scss';


.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lighten($color-three, 10%);
  margin: 20px;
  border-radius: $button-border-radius;
  text-align: center;
  width: 200px;
  height: 280px;
  @include body-font;
  .card-body {
    text-align: center;
  }
  .item-category {
    border: 2px solid lighten($color-two, 10%);
    color: lighten($color-two, 10%);
    width: 140px;
    margin: 20px auto;
  }
}


.item-button {
  text-align: center;
  background-color: $color-link-bg;
  width: 100px;
  cursor: pointer;
  @include body-font;
  color: $color-link-text;
  border-radius: $button-border-radius;
  font-size: 1.2rem;
  margin: 5px;
  &:hover {
    background-color: $color-link-light;
  }
  &:active {
    @include active-button
  }
}





