@import './variables.scss';

.item-button {
  @include button-reset;
  text-align: center;
  background-color: darken($color-two, 10%);
  width: 100px;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 5px;
}
.item-button:hover {
  @include button-reset;
  text-align: center;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: lighten($color-one, 10%);
}
.item-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
  @include button-reset;
  text-align: center;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: darken($color-two, 10%);
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lighten($color-three, 10%);
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 280px;
  @include body-font;
}
.card-body {
  text-align: center;
}

.item-category {
  border: 2px solid lighten($color-two, 10%);
  color: lighten($color-two, 10%);
  width: 140;
  margin: 20px auto;
}