@import './variables.scss';

.menu-item-wrap {
  display: flex;
}

.sideMenu-wrap {
  width: 25%;
}

.items-wrapper {
  display: flex;
  flex-flow: wrap;
}

.add-link-div {
  @include flex-row-center;
  text-align: center;
  background-color: $color-link-bg;
  border: 2px solid $color-three;
  cursor: pointer;
  color: $color-link-text;
  border-radius: $button-border-radius;
  font-size: 4rem;
  margin: 20px;
  width: 200px;
  height: 280px;
  &:hover {
    background-color: $color-link-light;
  }
  &:active {
    @include active-button;
  }
  .Link {
    @include link-reset;
    color: inherit;
  }
}

.notification-banner {
  width: 100%;
}

.logging-div {
  transform: translateY(1px);
  filter: saturate(150%);
  @include button-reset;
  text-align: center;
  width: 70%;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: lighten($color-one, 10%);
}

.no-items {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 20px;
}
