@import './variables.scss';

.login-bg {
  // background-image: "./src/Images/bowl-bread-container-1707269.jpg";
  background-color: $color-two;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  .login-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:center;
    height: 400px;
    width: 400px;
    background-color: $color-one;
    border: 2px solid $color-three;
    .login-form {
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 300px;
      justify-content: space-evenly;
    }
  }
}

.form-button-wrapper {
  display: flex;
  align-content: flex-end;
}
.axios-error {
  @include header-font;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  padding: 20px, 10px;
  font-size: 1.5rem;
  text-align: center;
  background-color: darken($color-error, 10%);
  color: $color-one;
}
.axios-alert {
  @include header-font;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  padding: 20px, 10px;
  font-size: 1.5rem;
  text-align: center;
  background-color: darken($color-three, 5%);
  color: $color-one;
}


.login-button {
  @include button-reset;
  text-align: center;
  background-color: darken($color-two, 10%);
  padding: 10px;
  cursor: pointer;
  @include body-font;
  color: inherit;
  border-radius: 5px;
}
.login-button:hover {
  background-color: lighten($color-one, 10%);
}
.login-button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.input-wrapper {
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-content: space-evenly;
  input {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: lighten($color-one, 10%);
  }
}
