@import './variables.scss';

.login-bg {
  background-color: $color-two;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  .login-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items:center;
    @include form-card;
    background-color: $color-one;
    border: 2px solid $color-three;
    border-radius: 8px;
    .login-form {
      display: flex;
      flex-flow: column;
      align-items: center;
      height: 300px;
      justify-content: space-evenly;
    }
  }
}

.form-button-wrapper {
  display: flex;
  align-content: flex-end;
}
.axios-error {
  @include axios;
  background-color: darken($color-error, 10%);
}
.axios-alert {
  @include axios;
  background-color: darken($color-three, 5%);
}

.login-div {
  text-align: center;
  background-color: $color-link-bg;
  width: 150px;
  padding: 8px 5px;
  cursor: pointer;
  color: $color-link-text;
  border-radius: $button-border-radius;
  font-size: 1.2rem;
  &:hover {
    background-color: $color-link-light;
  }
  &:active {
    @include active-button;
  }
}


.input-wrapper {
  display: flex;
  flex-flow: column;
  height: 100px;
  justify-content: space-evenly;

  input {
    padding: 8px;
    font-size: 1.2rem;
    margin: 20px 0;
    outline-color: $color-three;
  }
}

