$color-one: #FAF3DD;
$color-two: #DCEDB9;
$color-three: #6CB043;
$color-error:  rgb(245, 192, 57);
$color-link-text: darken($color-three, 20%);
$color-link-light: lighten($color-one, 10%);
$color-link-bg: darken($color-two, 10%);
$button-border-radius: 5px;

@mixin header-font {
  font-family: 'Crete Round', serif;
}

@mixin body-font {
  font-family: "Roboto", sans-serif;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin input-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin active-button {
  transform: translateY(1px);
  filter: saturate(150%);
}