$color-one: #FAF3DD;
$color-two: #DCEDB9;
$color-three: #6CB043;
$color-error:  rgb(245, 192, 57);

@mixin header-font {
  font-family: 'Crete Round', serif;
}

@mixin body-font {
  font-family: "Roboto", sans-serif;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin input-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}